.tarjeta {
    width: 200px;
    padding: 5rem;
    border-radius: 50px;
    text-align: center;
    transition: transform 3.5s ease;
    border: 2px solid transparent;
    background: black;
}


.tarjeta:hover {
    transform: translateY(50px);
    border: 8px solid gold}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    margin: 0 auto 1rem;}

.contenedor{
    display: flex;
    align-items: center;
  grid-template-rows: repeat(3, 1fr);
  gap: 20PX;
  padding: 20px;
}

body{
    color: white;
    background-image:url(https://wallpapers.com/images/hd/hd-map-of-game-of-thrones-tepsvby0eo1blhog.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-biografia {
    margin-top: 5rem;
    background-color: white;
    color: gray;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    width: 100%;
    transition: transform 2.5s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.btn-biografia:hover{
    transform: translateX(20px)
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: gray;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0;
    
}

header{
    color: gray;
    margin: 0;
    display: grid;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
